<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eface.dao.CaseInfoListMapper" >
  <resultMap id="BaseResultMap" type="eface.model.CaseInfoList" >
    <result column="case_time" property="caseTime" jdbcType="VARCHAR" />
    <result column="case_reason" property="caseReason" jdbcType="VARCHAR" />
    <result column="case_type" property="caseType" jdbcType="VARCHAR" />
    <result column="exe_sort" property="exeSort" jdbcType="VARCHAR" />
    <result column="case_result" property="caseResult" jdbcType="VARCHAR" />
    <result column="pendeciss_date" property="pendecissDate" jdbcType="VARCHAR" />
    <result column="pen_auth" property="penAuth" jdbcType="VARCHAR" />
    <result column="illeg_fact" property="illegFact" jdbcType="VARCHAR" />
    <result column="pen_basis" property="penBasis" jdbcType="VARCHAR" />
    <result column="pen_type" property="penType" jdbcType="VARCHAR" />
    <result column="pen_result" property="penResult" jdbcType="VARCHAR" />
    <result column="pen_am" property="penAm" jdbcType="VARCHAR" />
    <result column="pen_exest" property="penExest" jdbcType="VARCHAR" />
    <result column="pen_content" property="penContent" jdbcType="VARCHAR" />
    <result column="pen_dec_no" property="penDecNo" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="eface.model.CaseInfoList" >
    insert into case_info_list (case_time, case_reason, case_type, 
      exe_sort, case_result, pendeciss_date, 
      pen_auth, illeg_fact, pen_basis, 
      pen_type, pen_result, pen_am, 
      pen_exest, pen_content, pen_dec_no
      )
    values (#{caseTime,jdbcType=VARCHAR}, #{caseReason,jdbcType=VARCHAR}, #{caseType,jdbcType=VARCHAR}, 
      #{exeSort,jdbcType=VARCHAR}, #{caseResult,jdbcType=VARCHAR}, #{pendecissDate,jdbcType=VARCHAR}, 
      #{penAuth,jdbcType=VARCHAR}, #{illegFact,jdbcType=VARCHAR}, #{penBasis,jdbcType=VARCHAR}, 
      #{penType,jdbcType=VARCHAR}, #{penResult,jdbcType=VARCHAR}, #{penAm,jdbcType=VARCHAR}, 
      #{penExest,jdbcType=VARCHAR}, #{penContent,jdbcType=VARCHAR}, #{penDecNo,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select case_time, case_reason, case_type, exe_sort, case_result, pendeciss_date, 
    pen_auth, illeg_fact, pen_basis, pen_type, pen_result, pen_am, pen_exest, pen_content, 
    pen_dec_no
    from case_info_list
  </select>
</mapper>