<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eface.dao.DataMapper" >
  <resultMap id="BaseResultMap" type="eface.model.Data" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="VARCHAR" />
    <result column="ent_name" property="entName" jdbcType="VARCHAR" />
    <result column="query_time" property="queryTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertData" parameterType="eface.model.Data" >
    insert into data_like (code, msg, order_no, ent_name)
    values (#{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{entName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertLog" parameterType="eface.model.Data" >
    insert into data_log (code, msg, order_no, data, type, query_time)
    values (#{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR}, 1, sysdate())
  </insert>
</mapper>