<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eface.dao.MorDetailListMapper" >
  <resultMap id="BaseResultMap" type="eface.model.MorDetailList" >
    <id column="morreg_id" property="morregId" jdbcType="VARCHAR" />
    <result column="mortga_gor" property="mortgaGor" jdbcType="VARCHAR" />
    <result column="more" property="more" jdbcType="VARCHAR" />
    <result column="reg_org" property="regOrg" jdbcType="VARCHAR" />
    <result column="regi_date" property="regiDate" jdbcType="VARCHAR" />
    <result column="mor_type" property="morType" jdbcType="VARCHAR" />
    <result column="mor_regcno" property="morRegcno" jdbcType="VARCHAR" />
    <result column="appre_grea" property="appreGrea" jdbcType="VARCHAR" />
    <result column="priclasec_kind" property="priclasecKind" jdbcType="VARCHAR" />
    <result column="priclase_cam" property="priclaseCam" jdbcType="VARCHAR" />
    <result column="pefper_from" property="pefperFrom" jdbcType="VARCHAR" />
    <result column="pefper_to" property="pefperTo" jdbcType="VARCHAR" />
    <result column="can_date" property="canDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from mor_detail_list
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="eface.model.MorDetailList" >
    insert into mor_detail_list (morreg_id, mortga_gor, more, 
      reg_org, regi_date, mor_type, 
      mor_regcno, appre_grea, priclasec_kind, 
      priclase_cam, pefper_from, pefper_to, 
      can_date)
    values (#{morregId,jdbcType=VARCHAR}, #{mortgaGor,jdbcType=VARCHAR}, #{more,jdbcType=VARCHAR}, 
      #{regOrg,jdbcType=VARCHAR}, #{regiDate,jdbcType=VARCHAR}, #{morType,jdbcType=VARCHAR}, 
      #{morRegcno,jdbcType=VARCHAR}, #{appreGrea,jdbcType=VARCHAR}, #{priclasecKind,jdbcType=VARCHAR}, 
      #{priclaseCam,jdbcType=VARCHAR}, #{pefperFrom,jdbcType=VARCHAR}, #{pefperTo,jdbcType=VARCHAR}, 
      #{canDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="eface.model.MorDetailList" >
    update mor_detail_list
    set mortga_gor = #{mortgaGor,jdbcType=VARCHAR},
      more = #{more,jdbcType=VARCHAR},
      reg_org = #{regOrg,jdbcType=VARCHAR},
      regi_date = #{regiDate,jdbcType=VARCHAR},
      mor_type = #{morType,jdbcType=VARCHAR},
      mor_regcno = #{morRegcno,jdbcType=VARCHAR},
      appre_grea = #{appreGrea,jdbcType=VARCHAR},
      priclasec_kind = #{priclasecKind,jdbcType=VARCHAR},
      priclase_cam = #{priclaseCam,jdbcType=VARCHAR},
      pefper_from = #{pefperFrom,jdbcType=VARCHAR},
      pefper_to = #{pefperTo,jdbcType=VARCHAR},
      can_date = #{canDate,jdbcType=VARCHAR}
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select morreg_id, mortga_gor, more, reg_org, regi_date, mor_type, mor_regcno, appre_grea, 
    priclasec_kind, priclase_cam, pefper_from, pefper_to, can_date
    from mor_detail_list
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select morreg_id, mortga_gor, more, reg_org, regi_date, mor_type, mor_regcno, appre_grea, 
    priclasec_kind, priclase_cam, pefper_from, pefper_to, can_date
    from mor_detail_list
  </select>
</mapper>