<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eface.dao.MorguaInfoListMapper" >
  <resultMap id="BaseResultMap" type="eface.model.MorguaInfoList" >
    <id column="morreg_id" property="morregId" jdbcType="VARCHAR" />
    <result column="gua_name" property="guaName" jdbcType="VARCHAR" />
    <result column="quan" property="quan" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from morgua_info_list
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="eface.model.MorguaInfoList" >
    insert into morgua_info_list (morreg_id, gua_name, quan, 
      value)
    values (#{morregId,jdbcType=VARCHAR}, #{guaName,jdbcType=VARCHAR}, #{quan,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="eface.model.MorguaInfoList" >
    update morgua_info_list
    set gua_name = #{guaName,jdbcType=VARCHAR},
      quan = #{quan,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR}
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select morreg_id, gua_name, quan, value
    from morgua_info_list
    where morreg_id = #{morregId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select morreg_id, gua_name, quan, value
    from morgua_info_list
  </select>
</mapper>