<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eface.dao.PunishBreakListMapper" >
  <resultMap id="BaseResultMap" type="eface.model.PunishBreakList" >
    <result column="case_code" property="caseCode" jdbcType="VARCHAR" />
    <result column="iname_clean" property="inameClean" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="id_card_location" property="idCardLocation" jdbcType="VARCHAR" />
    <result column="business_entity" property="businessEntity" jdbcType="VARCHAR" />
    <result column="reg_date" property="regDate" jdbcType="VARCHAR" />
    <result column="publish_date" property="publishDate" jdbcType="VARCHAR" />
    <result column="court_name" property="courtName" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="gistID" property="gistID" jdbcType="VARCHAR" />
    <result column="gist_unit" property="gistUnit" jdbcType="VARCHAR" />
    <result column="duty" property="duty" jdbcType="VARCHAR" />
    <result column="disrupt_type_name" property="disruptTypeName" jdbcType="VARCHAR" />
    <result column="performance" property="performance" jdbcType="VARCHAR" />
    <result column="performed_part" property="performedPart" jdbcType="VARCHAR" />
    <result column="unperform_part" property="unperformPart" jdbcType="VARCHAR" />
    <result column="focus_number" property="focusNumber" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="eface.model.PunishBreakList" >
    insert into punish_break_list (case_code, iname_clean, type, 
      sex, age, card_no, id_card_location, 
      business_entity, reg_date, publish_date, 
      court_name, province, gistID, 
      gist_unit, duty, disrupt_type_name, 
      performance, performed_part, unperform_part, 
      focus_number)
    values (#{caseCode,jdbcType=VARCHAR}, #{inameClean,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{idCardLocation,jdbcType=VARCHAR}, 
      #{businessEntity,jdbcType=VARCHAR}, #{regDate,jdbcType=VARCHAR}, #{publishDate,jdbcType=VARCHAR}, 
      #{courtName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{gistID,jdbcType=VARCHAR}, 
      #{gistUnit,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{disruptTypeName,jdbcType=VARCHAR}, 
      #{performance,jdbcType=VARCHAR}, #{performedPart,jdbcType=VARCHAR}, #{unperformPart,jdbcType=VARCHAR}, 
      #{focusNumber,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select case_code, iname_clean, type, sex, age, card_no, id_card_location, business_entity, 
    reg_date, publish_date, court_name, province, gistID, gist_unit, duty, disrupt_type_name, 
    performance, performed_part, unperform_part, focus_number
    from punish_break_list
  </select>
</mapper>